 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/download7.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 373px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 85px;
  height: 85px;
  background-image: none;
  margin: 23px auto 0 388px;
}

.u-section-1 .u-shape-2 {
  width: 85px;
  height: 85px;
  background-image: none;
  margin: -85px 388px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 41px;
  height: 41px;
  margin: -63px auto 0 410px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -36px 421px 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 85px;
  height: 85px;
  background-image: none;
  margin: -63px auto 0;
}

.u-section-1 .u-shape-5 {
  width: 41px;
  height: 41px;
  margin: -63px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 68px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-1 .u-shape-3 {
    height: 48px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 347px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 266px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 200px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    margin-left: 255px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: 255px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 299px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 126px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 431px;
}

.u-section-2 .u-image-1 {
  width: 547px;
  min-height: 378px;
  height: auto;
  background-image: url("images/download7.jpg");
  background-position: 50% 50%;
  margin: 18px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 5px 0;
}

.u-section-2 .u-text-1 {
  margin: 9px 227px 0 27px;
}

.u-section-2 .u-image-2 {
  width: 247px;
  height: 94px;
  margin: 18px auto 0 8px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: -86px 77px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 17px 18px 0 275px;
}

.u-section-2 .u-image-3 {
  width: 216px;
  height: 80px;
  filter: brightness(0.8);
  margin: -80px auto 0 24px;
}

.u-section-2 .u-form-1 {
  height: 407px;
  background-image: linear-gradient(#2cccc4, #293332);
  margin: -378px 0 0 570px;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-label-1 {
  font-weight: 700;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-label-2 {
  font-weight: 700;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -56px 134px 60px auto;
  padding: 9px 25px 11px 24px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    height: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: 61px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 57px;
  }

  .u-section-2 .u-form-1 {
    margin-left: 370px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    margin-right: -6px;
    margin-left: 24px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 71px;
    margin-left: 272px;
  }

  .u-section-2 .u-form-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 39px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 87px;
  }
}